<template>
  <q-page padding>
    <!-- content -->
    <div class="overflow-hidden">
      <div class="row gutter-x-sm gutter-y-md">
        <div class="col">
          <h4>Cadastro Loja</h4>
        </div>
      </div>
      <div class="row gutter-x-sm gutter-y-md">
        <div class="col-8">
          <q-input
            class="no-margin"
            v-model="loja.nome"
            type="text"
            float-label="Nome Fantasia"
          />
        </div>
        <div class="col-4">
          <q-input
            class="no-margin"
            v-model="loja.telefone"
            type="text"
            float-label="Telefone"
          />
        </div>
      </div>
      <div class="row gutter-x-sm gutter-y-md">
        <div class="col-2">
          <q-input
            class="no-margin"
            v-model="loja.cep"
            type="tel"
            float-label="CEP"
          />
        </div>
        <div class="col-8">
          <q-input
            class="no-margin"
            v-model="loja.endereco"
            type="text"
            float-label="Endereço"
          />
        </div>
        <div class="col-2">
          <q-input
            class="no-margin"
            v-model="loja.numero"
            type="text"
            float-label="Numero"
          />
        </div>
      </div>
      <div class="row">
            <q-field
              icon="vibration"
              helper="Selecione os dias de funcionamento"
              label="Notifications"
            >
              <q-option-group
                dark
                type="checkbox"
                color="secondary"
                v-model="loja.dias"
                :options="[
                  { label: 'Seg', value: 'Seg' },
                  { label: 'Ter', value: 'Ter' },
                  { label: 'Qua', value: 'Qua' },
                  { label: 'Qui', value: 'Qui' },
                  { label: 'Sex', value: 'Sex' },
                  { label: 'Sab', value: 'Sab' },
                  { label: 'Dom', value: 'Dom' },
                ]"
              />
            </q-field>
      </div>
      <div class="row gutter-x-sm gutter-y-md">
         <div class="col">
          <q-input
            class="no-margin"
            v-model="loja.hora_inicio"
            type="text"
            float-label="Início"
          />
        </div>
        <div class="col">
          <q-input
            class="no-margin"
            v-model="loja.hora_fim"
            type="text"
            float-label="Fim"
          />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'CadastroLoja',
  data () {
    return {
      loja: {
        nome: '',
        telefone: '',
        cep: '',
        endereco: '',
        numero: '',
        dias: ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom'],
        hora_inicio: '',
        hora_fim: ''
      }
    }
  }
}
</script>

<style>
</style>
