<!DOCTYPE html>
  <html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mercado Delivery</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/micromodal.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  </head>
  <body>
    <div id="app" class="container">
      <header>
        <h1>Mercado Delivery</h1>
        <nav>
          <a href="#">Sobre o Mercado Delivery</a>
          <a href="#">Cadastre seu Restaurante</a>
          <a href="#">Contato</a>
        </nav>
      </header>
      <section>
        <div class="content">
          <h2>Delivery fácil e rápido: <br> Peça e receba em casa</h2>
          <form @submit.prevent="buscaCep">
            <input v-model="cep" type="tel" autofocus placeholder="Digite seu CEP">
            <button type="submit">Buscar</button>
          </form>
        </div> <!-- .content-->
      </section>

      <div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
          <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
            <header class="modal__header">
              <h2 class="modal__title" id="modal-1-title">
                Encontramos perto de você:
              </h2>
            </header>
            <main class="modal__content" id="modal-1-content">
              <ul class="lista-lojas">
                <li v-for="(l, index) in lojas" :key="index">
                  <p>{{l.nome}}</p>
                  <span>{{l.distance.toFixed(2)}} KM</span>
                  <span class="open">Aberto</span>
                </li>
              </ul>
            </main>
            <footer class="modal__footer">
              <button class="modal__btn modal__btn-primary" data-micromodal-close>Trocar CEP</button>
            </footer>
          </div>
        </div>
      </div>
    </div> <!-- #app .container -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
