html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  height: 100%;
}

header {
  align-items: center;
  background-color: #c0392b;
  color: #333;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 30px;
}
header h1{
  /* background-color: #fff; */
  color: #fff;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  padding: 0;
  text-transform: uppercase;
}

header nav a {
  color: #fff;
  /* font-weight: bold; */
  margin-left: 30px;
  text-decoration: none;
  /* text-shadow: 1px 1px 0px #333; */
}

section {
  align-items: center;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: center;
  height: calc(100% - 80px);
  width: 100%;
}

section h2 {
  color: #fed330;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  letter-spacing: 3px;
  text-shadow: 1px 1px 0px #111;
}

form {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  display: flex;
  height: 50px;
  margin-top: 50px;
  position: relative;
  width: 100%;
}

form input[type="tel"] {
  border: none;
  border-radius: 5px;
  height: 100%;
  font-size: 20px;
  text-indent: 10px;
  width: 75%;
}

form input[type="tel"]:focus {outline: none}

form button {
  background-color: #c0392b;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 25%;
}

.content {margin-top: -100px;}

.lista-lojas {
  list-style: none;
}

.lista-lojas li {
  border: 1px solid #bbb;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
}
.lista-lojas li:hover {background-color: #ddd}

.lista-lojas li p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.lista-lojas li span {
  background-color: #ccc;
  border-radius: 3px;
  padding: 3px;
}
.lista-lojas li span.open {
  background-color: #2ecc71;
  color: #fff;
}
