<template>
  <div class="container">
    <div class="header">
      <span class="header-title">x delivery</span>
      <span class="header-perfil">Lennon</span>
    </div>
    <div class="navigation">
      <span class="active">
        <a href="#">Lojas</a>
      </span>
      <span>
        <a href="#">Pedidos</a>
      </span>
      <span>
        <a href="#">Clientes</a>
      </span>
      <span>
        <a href="#">Produtos</a>
      </span>
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'TemplateLogista',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .header {
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  .header-perfil {
    border-left: 1px solid #ddd;
    color: #777;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0px 10px 20px;
    text-transform: uppercase;
  }
  .header-title {
    color: #444;
    font-size: 25px;
    font-weight: bold;
  }

  .navigation {
    align-items: center;
    background-color: #ecf0f1;
    border-bottom: 1px solid rgba(0,0,0,.05);
    border-top: 1px solid rgba(0,0,0,.05);
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  .navigation a {
    color: #3498db;
    display: block;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .navigation span {
    border-right: 1px solid rgba(0,0,0,.1);
    position: relative;
    width: 100%;
  }
  .navigation span.active::after {
    border-color: #ecf0f1 transparent transparent transparent;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    content: '';
    position: absolute;
    bottom: -25px;
    left: 50%;
  }
  .navigation span:last-child {border-right: none}
</style>
