<template>
  <div id="app">
    <!-- <img src="./assets/logo.png"> -->
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app, body, html {height: 100%;}
* {box-sizing: border-box; font-family: sans-serif; margin: 0; padding: 0;}
a {color: #3498db; display: inline-block;}
body, html {height: 100%;}
img {max-width: 100%;}
p {line-height: 150%;}
</style>
